<%# <h1>Admin::Dashboard#show</h1> %>
<%# <p>Find me in app/views/admin/dashboard/show.html.erb</p> %>
<section>
<div class="d-flex flex-column">
  <span class = "d-block p-2 bg-success text-white"> Total Amount of products: <%= @total_products %>  </span>
  <span class = "d-block p-2 bg-success text-white"> Total amount of categories: <%= @total_categories %> </span>
</div>

</section>